<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/books.css" />

<body>
  <div class="books-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/book/all">Books</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="library-menu-frame">
      <div class="board">
        <div class="books-table">
          <span class="new-book-txt" style="margin-bottom: 30px">
            BOOKHEAVEN
          </span>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Type</th>
                <th scope="col">Book Language</th>
                <th scope="col">Book Author</th>
                <th scope="col">Book Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <!--  LOOP BOOKS: START  -->
            <% books.map(function(value, key) { %>
              <tbody style="background: white">
                <td><%= key + 1 %></td>
                <td><%= value.bookName %></td>
                <td><%= value.bookType %></td>
                <td><%= value.bookLanguage %></td>
                <td><%= value.bookAuthor %></td>
                <td><%= value.bookPrice %></td>
                <td>
                  <select class="spec-select new-book-status" 
                  id="<%= value._id %>"
                  >
                    <option value="PAUSE" <%= value.bookStatus === 'PAUSE' ? 'selected': '' %> >PAUSE</option>
                    <option value="PROCESS" <%= value.bookStatus === 'PROCESS' ? 'selected': '' %> >PROCESS</option>
                    <option value="DELETE" <%= value.bookStatus === 'DELETE' ? 'selected': '' %> >DELETE</option>
                  </select>
                </td>
              </tbody>
            <% })  %>
            <!--  LOOP BOOKS: END  -->
          </table>
          <div
            class="long-input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary" id="process-btn">
              New Book
            </button>
          </div>
        </div>
        <form
        onsubmit="return validateForm()"
          action="/admin/book/create"
          method="POST"
          class="book-container"
          enctype="multipart/form-data"
        >
          <div class="long-input" style="display: flex; align-items: center">
            <span class="new-book-txt">NEW BOOK DETAIL</span>
          </div>
          <div class="login-input-frame">
            <div class="long-input">
              <label>Book Name</label>
              <input
                type="text"
                placeholder="Name"
                name="bookName"
                class="book-name"
              />
            </div>
            <input
              name="bookStatus"
              value="PAUSE"
              class="book-status"
              hidden
            />
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Book Type</label>
              <input
                type="text"
                placeholder="Type"
                name="bookType"
                class="book-type"
              />
            </div>
            <!-- <div class="half-input">
              <label>Book Language</label>
              <input
                type="text"
                placeholder="Language"
                name="bookLanguage"
                class="book-language"
              />
            </div> -->
            <div class="half-input">
              <label>Book Language</label>
              <select class="book-collection" name="bookCollection">
                <option value="UZBEK" selected>UZBEK</option>
                <option value="ENGLISH">ENGLISH</option>
                <option value="KOREAN">KOREAN</option>
                <option value="RUSSIAN">RUSSIAN</option>
                <option value="OTHER">OTHER</option>
              </select>
            </div>
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Book Author</label>
              <input
                type="text"
                placeholder="Author"
                name="bookAuthor"
                class="book-author"
              />
            </div>

            <div class="half-input" id="book-collection">
              <label>Book Price</label>
              <input
                type="number"
                placeholder="Price"
                name="bookPrice"
                class="book-price"
              />
            </div>
          </div>
          <div class="long-input">
            <label>Book Description</label>
            <textarea name="bookDesc" class="book-desc"></textarea>
          </div>

          <div class="img-frame">
            <label>Book Images</label>
            <div class="media-frame">
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="1" id="image-section-1" />
                <input
                  type="file"
                  id="file"
                  name="bookImages"
                  class="image-one"
                  required
                  onchange="previewFileHandler(this, 1)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="2" id="image-section-2" />
                <input
                  type="file"
                  id="file"
                  name="bookImages"
                  class="image-two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="3" id="image-section-3" />
                <input
                  type="file"
                  id="file"
                  name="bookImages"
                  class="image-three"
                  onchange="previewFileHandler(this, 3)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="4" id="image-section-4" />
                <input
                  type="file"
                  id="file"
                  name="bookImages"
                  class="image-four"
                  onchange="previewFileHandler(this, 4)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="5" id="image-section-5" />
                <input
                  type="file"
                  id="file"
                  name="bookImages"
                  class="image-five"
                  onchange="previewFileHandler(this, 5)"
                />
              </div>
              <input name="libraryIid" class="library-id" hidden />
            </div>
          </div>

          <div class="operation-buttons">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create-btn">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/books.js"></script>
</body>

<%- include('includes/footer') %>
